@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(68,67,67);
    background: linear-gradient(90deg, rgba(68,67,67,1) 0%, rgba(48,46,46,1) 35%, rgba(0,0,0,1) 100%);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0dbeb;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    display: block;
    justify-content: space-between;
}

.back-button {
    position: absolute;
}

.back-button button {
    border: none;
    background-color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    color: #fff;
    transition: .5s ease-in-out;
}

.back-button button:hover {
    background-color: rgb(44, 40, 40);
    transform: scale(1);
    border: 1px solid #e0dbeb;
    border-radius: 10px;
}

.title h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgba(255,0,44,1);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.infoDelete {
    margin-top: 20px;
}

.p-group {
    display: block;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.form-group {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 2px solid rgba(255,0,44,1);
    margin: 10px 0 10px 0;
    background-color: #e0dbeb;
    border: 2px solid rgba(255,0,44,1);
}

.form-group p {
    font-size: 1em;
    font-weight: 500;
    padding-left: 5px;
}

.form-group .icon {
    position: absolute;
    right: 8px;
    bottom: -18px;
    font-size: 1.2em;
    color: rgba(255,0,44,1);
    line-height: 57px;
}

#botaoSubmit {
    width: 100%;
    border: none;
    background-color: black;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
    transition: .5s ease-in-out;
} 

#botaoSubmit:hover {
    background-color: rgb(44, 40, 40);
    transform: scale(1);
    border-radius: 10px;
    border: 1px solid rgba(255,0,44,1);
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 80%;
        height: auto;
    }

    .p-group {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 20rem;
        padding-right: 1rem;
    }

    .form-group {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
} 